.input_container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* gap: 1rem; */
  /* margin-bottom: 1rem; */
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 20px;
  height: 200px;
}
.todo_input {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}
.todo_input input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding: 10px;
  /* color: rgb(104, 104, 104); */
  outline: none;
  border: 2px solid #ccc;
  border-radius: 0 5px 5px 0px;
}

.input_button button {
  width: 100%;
  display: flex;
  font: inherit;
  cursor: pointer;

  height: 40px;
  padding: 1rem 2rem;
  border: none;
  background-color: #16a3b7;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
}
.input_button button:hover {
  color: #16a3b7;
  background-color: #002024;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.img_container img {
  height: 50px;
  border-radius: 5px 0 0 5px;
}
